@import url('https://fonts.googleapis.com/css2?family=PT+Mono:wght@300;400;500&display=swap');

html {
  height: 100%;
}

html,
body,
#root {
  display: flex;
}

body,
#root {
  flex: 1;
}

body {
  background-color: #0c1114;
  margin: 0;
  padding: 0;
}
